body {
    margin: 0;
    padding: 0;
    background-image: url('./images/background.png');
}

#titlePane {
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 300px;
    text-align: center;

}

#titlePane > h1 {
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0;
    color: white;
}


#location-search {
    width: 250px;
    text-align: center;
}

.weatherCardContainer {
    background-color: rgba(0, 0, 0, 0.2);
    width: 650px;
    height: 210px;
    margin: auto;   
    display: flex;
    justify-content: space-around;
    margin-top: 74px;

}


img {
    width: 200px;
    height: 200px;
}

li {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

#threeDayForecast {
    padding-top: 74px;
    margin: auto;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dayThreeCards {
    background-color: rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 210px;
    margin: auto;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}